body {
 	font-family: 'Raleway', sans-serif;
  	font-weight: 300;
 	background-image: url(Graffiti.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1{
	font-size: 75px;
	font-style: oblique;
	font-family: Bangers;
}
h2{
	font-size: 75px;
	font-style: oblique;
	font-family: Bangers;
}
div#ryan{
	font-family: Special+Elite;
}
div#wrapper {
	background-color: white;
	width: 960px;
	margin: 20px auto;
	padding:; 20px;
	}
img {
	border: 10px solid grey;
	border-radius: 50px;
	box-shadow: 10px 10px 5px grey	;
	float: right;
}