body {
 	font-family: 'Raleway', sans-serif;
  	font-weight: 300;
 	background-image: url(Graffiti.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

#wrapper {
  width: 960px;
  margin: 50px auto;
}

h1{
	font-size: 75px;
	font-style: oblique;
	font-family: Bangers;
}

h2{
	font-size: 75px;
	font-style: oblique;
	font-family: Bangers;
}

h4{
	font-family: 'Special Elite', cursive;
	font-size: 40px;
}

h5{
	font-size: 20px;
	font-style: italic;
	font-weight: bolder;
}

p{
	font-size: 20px;
}

div#wrapper {
	background-color: white;
	opacity: .7;
	width: 960px;
	margin: 20px auto;
	padding:; 20px;
	}

img {
	border: 10px solid black;
	float: right;
}